.main-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--card_bg);
  padding: 30px;
  margin: 20vh auto;
  border-radius: 5px;
  -webkit-box-shadow: 2px 4px 10px 1px var(--shadow_1);
  box-shadow: 2px 4px 10px 1px var(--shadow_2);
  width: 700px;

  .logo {
    width: 40%;
    object-fit: scale-down;
    padding-right: 50px;
  }

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  label {
    margin-bottom: 5px;
    font-weight: bold;
  }

  input[type="text"],
  input[type="password"] {
    padding: 10px;
    margin-top: 15px;
    border: 1px solid var(--form_border);
    border-radius: 3px;
    margin-bottom: 15px;
    width: -webkit-fill-available;
  }

  .password {
    width: 100% !important;
    display: inline-flex;
    .showBtn {
      padding: 5px;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
}
