.flexContainer {
    display: flex;
    gap: 10px;
    margin: 10px;

    .leftColumn {
        flex: 2;
        flex-direction: column;
        display: flex;


            padding: 10px;
            height: 80vh;
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47) !important;

            .chatSection {
                flex: 1;
                background-color: lightgray;
                overflow-y: auto;
                display: grid;
                width: -webkit-fill-available;

                .aiStyle {
                    background-color: white;
                    width: fit-content;
                    max-width: 85%;
                    padding: 10px;
                    margin: 10px auto 10px 10px;
                    border-radius: 25px;
                    border-bottom-left-radius: 0px;
                }

                .promptStyle {
                    text-align: right;
                    background-color: white;
                    width: fit-content;
                    max-width: 85%;
                    padding: 10px;
                    margin: 10px 10px 10px auto;
                    border-radius: 25px;
                    border-bottom-right-radius: 0px;
                }
            }

            .promptArea {
                height: 60px;
                margin-top: 10px;
                align-items: center;
                display: flex;
                width: -webkit-fill-available;
                padding: 10px;
                border-radius: 25px;
                border: 1px solid lightgray;

                textarea {
                    width: 92%;
                    font-size: 16px;
                    min-height: 3rem !important;
                    resize: none;
                    overflow-y: auto;
                    border: none;
                    border-right: 1px solid lightgray !important;
                }
                textarea:focus {
                    outline: none;
                }
            }
        
    }

    .rightColumn {
        flex: 1;
        padding: 15px;
        min-height: 100%;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47) !important;

        .tab {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 20px;
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47) !important;

            .tabButtonDeSelected {
                padding: 10px;
                border-bottom: 1px solid gray;
                width: 50%;
                text-align: center;
                background-color: white;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .tabButtonSelected {
                padding: 10px;
                border-bottom: 1px solid gray;
                width: 50%;
                text-align: center;
                background-color: lightgray;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .bookmark {
            display: flex;
            align-items: center;
            background-color: #e7dbdb;
            padding: 10px;
            margin-bottom: 10px;

            .title {
                font-size: 16px;
                margin-left: 10px;
            }
        }

        .links {
            display: flex;
            align-items: center;
            background-color: #e7dbdb;
            padding: 10px;
            margin-bottom: 10px;
            text-decoration: none;

            .title {
                font-size: 16px;
                margin-left: 10px;
            }
        }
    }
    
}
