.flexContainer {
    display: flex;
    gap: 10px;
    margin: 10px;

    .leftColumn {
        width: 56vw;
        // flex-direction: column;

        padding: 10px;
        height: 80vh;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47) !important;

        .chatSection {
            background-color: #a7a7a7;
            overflow-y: auto;
            width: -webkit-fill-available;
            height: calc(100% - 90px);

            .aiStyle {
                max-width: 85%;
                height: max-content;
                align-items: center;
                margin-left: 5px;
                display: flex;
                margin: 10px auto 10px 5px;
                align-items: end;

                .icon {
                    width: 25px;
                    font-size: 25px;
                    background-color: rgb(245, 242, 240);
                    border-radius: 25px;
                    padding: 10px;
                }

                .content {
                    background-color: rgb(245, 242, 240);
                    border-radius: 25px;
                    border-bottom-left-radius: 0px;
                    padding: 12px 15px 12px 15px;
                    margin-left: 10px;
                    width: 80%;
                    // text-align: center;

                    .selectView {
                        width: 100%;
                        margin: 0px 5px 5px 0px;
                        display: flex;
                        justify-content: end;

                        select {
                            width: auto;
                        }
                    }

                    .graph {
                        border: 1px solid gray;
                        width: -webkit-fill-available;
                        height: 300px !important;
                        position: relative;
                    }
                }
            }

            .aiStyle:hover .copy {
                visibility: visible !important;
            }

            .copy {
                cursor: pointer;
                display: flex;
                background-color: white;
                border-radius: 25px;
                padding: 5px;
                margin: 0px 10px 0px 10px;
                font-size: 15px;
                visibility: hidden;
            }

            .promptStyle:hover .copy {
                visibility: visible !important;
            }

            .promptStyle {
                text-align: right;
                width: fit-content;
                max-width: 85%;
                margin: 10px 5px 10px auto;
                height: max-content;
                display: flex;
                align-items: end;

                .icon {
                    background-color: white;
                    border-radius: 25px;
                    padding: 10px;
                    font-size: 25px;
                    width: 25px;
                }

                .text {
                    background-color: white;
                    border-radius: 25px;
                    border-bottom-right-radius: 0px;
                    padding: 12px;
                    margin-right: 10px;
                }
            }
        }

        .promptArea {
            height: 60px;
            margin-top: 10px;
            align-items: center;
            display: flex;
            width: -webkit-fill-available;
            padding: 10px;
            border-radius: 25px;
            border: 1px solid lightgray;

            textarea {
                width: 92%;
                font-size: 16px;
                min-height: 3rem !important;
                resize: none;
                overflow-y: auto;
                border: none;
                border-right: 1px solid lightgray !important;
            }
            textarea:focus {
                outline: none;
            }
        }
    }

    .rightColumn {
        width: 20vw;
        padding: 15px;
        min-height: 100%;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47) !important;

        .tab {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 20px;
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47) !important;

            .tabButtonDeSelected {
                padding: 10px;
                border-bottom: 1px solid gray;
                width: 50%;
                text-align: center;
                background-color: white;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .tabButtonSelected {
                padding: 10px;
                border-bottom: 1px solid gray;
                width: 50%;
                text-align: center;
                background-color: lightgray;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                // box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 0px inset;
            }
        }

        .bookmark {
            display: flex;
            align-items: center;
            background-color: #e7dbdb;
            padding: 10px;
            margin-bottom: 10px;

            .title {
                font-size: 16px;
                margin-left: 10px;
            }
        }

        .links {
            display: flex;
            align-items: center;
            background-color: #e7dbdb;
            padding: 10px;
            margin-bottom: 10px;
            text-decoration: none;

            .title {
                font-size: 16px;
                margin-left: 10px;
            }
        }
    }
}
