// .interfaceDatable{
//     height: 500px;
//     padding: 20px;

// }

table{
    border-collapse: collapse;
    max-width: 900px;
    width: 100%;
    margin: 2rem auto;
    align-items: center;
    text-align: center;
}

table th, table td{
    border: 1px solid #ddd;
    padding: 8px;

}