.editorContainer {
  display: flex;
  width: 100%;

  .fileSelection {
    // background-color: rgb(192, 192, 192) !important;
    background-color: var(--btn_bg) !important;
    width: 250px;
    border: 1px solid var(--form_border);
    display: flex;
    flex-direction: column;

    .fileHeader {
      padding: 5px;
      text-align: center;
    }

    .fileItem {
      margin: 5px;
      padding: 5px;
      cursor: pointer;
      background-color: var(--item_color);

      &:hover {
        background-color: var(--item_hover);
      }
    }
    .active {
      background-color: var(--item_hover) !important;
    }

    .fileBottomSection {
      margin-top: auto;
      padding: 5px;
      text-align: right;
      width: 100%;
    }
  }
  .fileListContainer::-webkit-scrollbar {
    // width: 5px;
    // height: 5px !important;
    background-color: var(--scrollbar_color);
    display: block !important;
  }
  .fileListContainer::-webkit-scrollbar-thumb {
    background: var(--form_border);
  }
 
  .editor {
    width: calc(100% - 255px);
    border: 1px solid var(--form_border);

    .tab {
      width: 100%;
      background: var(--btn_bg);
      display: flex;
      overflow-x: auto;
      min-height: 25px;

      .tabButton {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // background-color: rgb(231, 219, 219);
        background-color: var(--item_hover);
        padding: 5px;
        border-right: 1px solid var(--form_border);
        border-bottom: 1px solid var(--form_border);
        cursor: pointer;
        max-width: 150px;
        min-width: 150px;
        height: 20px;

        .tabName {
          display: flex;
          max-width: max-content;
          min-height: auto;
          align-items: center;
        }

        &:hover {
          background-color: var(--item_hover);
        }
      }

      .tabActive {
        background-color: var(--tab_active_bg) !important;
        border-bottom: none !important;
      }
    }
    .tab::-webkit-scrollbar {
      width: 5px;
      height: 5px !important;
      background-color: var(--scrollbar_color);
      display: block !important;
    }
    .tab::-webkit-scrollbar-thumb {
      background: var(--form_border);
    }

    .editorBottomSection {
      padding: 5px;
      text-align: right;
    }

    textarea {
      border-right: 1px solid var(--form_border) !important;
      background-color: var(--text_editor_bg);
      color: var(--input_color);
    }
    textarea::-webkit-scrollbar {
      // width: 5px;
      // height: 5px !important;
      background-color: var(--scrollbar_color);
      display: block !important;
    }
    textarea::-webkit-scrollbar-thumb {
      background: var(--form_border);
    }
  }

  .popover {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        padding: 5px 15px 5px 10px;
        cursor: pointer;
        border-bottom: 1px solid var(--form_border);
        font-size: 14px;

        &:hover {
          background-color: var(--item_hover);
        }
      }
    }
  }
}
