.sidebar {
  border-right: 0.5px solid #002f58;
  min-height: 100vh;
  position: fixed;
  width: inherit;
  // background-color: lightcoral;

  .logo {
    object-fit: scale-down;
    width: 100%;
    padding: 25px 0px 25px 0px;
    border-bottom: 0.5px solid #002f58;
  }

  .navLink {
    margin: 10px 0px 10px 0px;
  }
}
