.sidebar {
    flex: 1;
    border-right: 0.5px solid #002f58;
    min-height: 100vh;
    // background-color: lightcoral;

    .top {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo {
            font-size: 10px;
            display: block;
            font-weight: bold;
            color: blue;
        }
    }

    .center {
        margin-top: 10px;

        .navLink {
            display: flex;
            align-items: center;
            text-decoration: none;
            margin-top: 10px;

            color: #999;
            background-color: #e7dbdb;
            padding: 2px 2px 2px 10px;

            .icon {
                padding-right: 10px;
            }

            &:hover {
                color: #002f58;
            }
        }
    }

    hr {
        height: 0;
        border: 0.5px solid #002f58;
    }

    .bottom {
        display: flex;
        align-items: center;
        margin: 10px;

        .colorOptions {
            width: 20px;
            height: 20px;
            border-radius: 5px;
            border: 1px solid #7451f8;
            cursor: pointer;
            margin: 5px;

            &:nth-child(1) {
                background-color: rgb(192, 176, 176);
            }

            &:nth-child(2) {
                background-color: rgb(8, 0, 0);
            }
        }
    }
}
