.form-wrapper {
    display: flex;
    gap: 10px;
    // align-items: center;
}

.form-field {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.note {
    font-size: 12px;
}

.w-10 {
    width: 10% !important;
}
.w-25 {
    width: 25% !important;
}
.w-40 {
    width: 40% !important;
}
.w-50 {
    width: 50% !important;
}
.w-60 {
    width: 60% !important;
}
.w-75 {
    width: 75% !important;
}
.w-100 {
    width: 100% !important;
}

.form-field label {
    margin-bottom: 4px;
    font-weight: bold;
}

.form-field input[type="text"],
.form-field input[type="number"],
.form-field textarea,
.form-field select {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-field input:disabled {
    background-color: #dbdbdb;
}

.form-field select:disabled {
    background-color: #dbdbdb;
}

.form-field input[type="submit"]:hover,
.form-field button:hover {
    opacity: 0.9;
}

.selected-interface-list {
    display: flex;
    width: 100%;
    gap: 10px;
}

.selected-interface-wrap {
    min-height: 100px;
    max-height: 250px;
    border: 1px solid #ccc;
    overflow-y: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.increadeDecrease {
    border: none;
    background-color: transparent;
    color: black;
    cursor: pointer;
    align-items: center;
}
