.table{

    .status{
       padding: 5px;
       border-radius: 5px;
       
       &.Active{
        color: green;
        background-color: rgba(0, 128, 0, 0.151);
       }

       &.Deactive{
        color: red;
        background-color: rgba(189, 189, 3, 0.103);
       }
    }
}