.btnColor {
    border-radius: 4px !important;
    border: 1px solid black !important;
    background-color: lightgray;
    color: black;
    cursor: pointer;

    &:disabled {
        background-color: #dbdbdb;
        border-color: #dbdbdb;
        color: #a4a3a3;
        cursor: not-allowed;
    }

    &.button-disabled {
        opacity: 0.5;
        cursor: not-allowed;
        background-color: gray;
        border-color: #dbdbdb;
        color: #a4a3a3;
    }
}

.btnStyle {
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid black;
    background-color: rgba(211, 211, 211, 1) !important;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;

    &:disabled {
        background-color: rgb(219, 219, 219, 1) !important;
        border-color: rgb(219, 219, 219) !important;
        color: rgba(164, 163, 163, 1) !important;
        cursor: not-allowed !important;
    }

    &.button-disabled {
        opacity: 0.5;
        background-color: rgb(219, 219, 219, 1) !important;
        border-color: rgb(219, 219, 219) !important;
        color: rgba(164, 163, 163, 1) !important;
        cursor: not-allowed !important;
    }
}

.loader {
    display: inline-block;
    background-color: rgb(245, 242, 240);
    border-radius: 25px;
    border-bottom-left-radius: 0px;
    padding: 12px;
    margin-left: 10px;
    text-align: center !important;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    animation: dance 1.5s infinite ease-in-out;
    margin-left: 10px;
}

.dot:nth-child(2) {
    animation-delay: 0.2s;
}

.dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes dance {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.p-10 {
    padding: 10px 10px 10px 10px !important;
}

.mt-5 {
    margin-top: 5px !important;
}
.mb-5 {
    margin-bottom: 5px !important;
}
.mr-5 {
    margin-right: 5px !important;
}
.ml-5 {
    margin-left: 5px !important;
}
.m-5 {
    margin: 5px 5px 5px 5px !important;
}

.mt-10 {
    margin-top: 10px !important;
}
.mb-10 {
    margin-bottom: 10px !important;
}
.mr-10 {
    margin-right: 10px !important;
}
.ml-10 {
    margin-left: 10px !important;
}
.m-10 {
    margin: 10px 10px 10px 10px !important;
}

.mt-15 {
    margin-top: 15px !important;
}
.mb-15 {
    margin-bottom: 15px !important;
}
.mr-15 {
    margin-right: 15px !important;
}
.ml-15 {
    margin-left: 15px !important;
}
.m-15 {
    margin: 15px 15px 15px 15px !important;
}

.mt-25 {
    margin-top: 25px !important;
}
.mb-25 {
    margin-bottom: 25px !important;
}
.mr-25 {
    margin-right: 25px !important;
}
.ml-25 {
    margin-left: 25px !important;
}
.m-25 {
    margin: 25px 25px 25px 25px !important;
}

.sigma-mouse {
    position: relative !important;
}

.modal-body {
    overflow-y: auto !important;
    max-height: 70vh;
}

.resizable {
    // background-color: red !important;
    resize: vertical;
    overflow: auto;
}
