.btnColor {
  border-radius: 4px !important;
  border: 1px solid black !important;
  background-color: lightgray;
  color: black;
  cursor: pointer;

  &:disabled {
    background-color: #dbdbdb;
    border-color: #dbdbdb;
    color: #a4a3a3;
    cursor: not-allowed;
  }

  &.button-disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: gray;
    border-color: #dbdbdb;
    color: #a4a3a3;
  }
}

.btnStyle {
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid black;
  background-color: rgba(211, 211, 211, 1) !important;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;

  &:disabled {
    background-color: rgb(219, 219, 219, 1) !important;
    border-color: rgb(219, 219, 219) !important;
    color: rgba(164, 163, 163, 1) !important;
    cursor: not-allowed !important;
  }

  &.button-disabled {
    opacity: 0.5;
    background-color: rgb(219, 219, 219, 1) !important;
    border-color: rgb(219, 219, 219) !important;
    color: rgba(164, 163, 163, 1) !important;
    cursor: not-allowed !important;
  }
}

.loader {
  display: inline-block;
  background-color: rgb(245, 242, 240);
  border-radius: 25px;
  border-bottom-left-radius: 0px;
  padding: 12px;
  margin-left: 10px;
  text-align: center !important;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  animation: dance 1.5s infinite ease-in-out;
  margin-left: 10px;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

.configStatus {
  margin-left: 10px;
  font-weight: bold;

  font-style: italic;
  color: #999;
}

@keyframes dance {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
}

.p-5 {
  padding: 5px 5px 5px 5px !important;
}

.p-10 {
  padding: 10px 10px 10px 10px !important;
}
.pt-10 {
  margin-top: 10px !important;
}
.pb-10 {
  margin-bottom: 10px !important;
}
.pr-10 {
  margin-right: 10px !important;
}
.pl-10 {
  margin-left: 10px !important;
}

.m-0 {
  margin: 0px 0px 0px 0px !important;
}

.mt-5 {
  margin-top: 5px !important;
}
.mb-5 {
  margin-bottom: 5px !important;
}
.mr-5 {
  margin-right: 5px !important;
}
.ml-5 {
  margin-left: 5px !important;
}
.m-5 {
  margin: 5px 5px 5px 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mr-10 {
  margin-right: 10px !important;
}
.ml-10 {
  margin-left: 10px !important;
}
.m-10 {
  margin: 10px 10px 10px 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}
.mb-15 {
  margin-bottom: 15px !important;
}
.mr-15 {
  margin-right: 15px !important;
}
.ml-15 {
  margin-left: 15px !important;
}
.m-15 {
  margin: 15px 15px 15px 15px !important;
}

.mt-25 {
  margin-top: 25px !important;
}
.mb-25 {
  margin-bottom: 25px !important;
}
.mr-25 {
  margin-right: 25px !important;
}
.ml-25 {
  margin-left: 25px !important;
}
.m-25 {
  margin: 25px 25px 25px 25px !important;
}

.sigma-mouse {
  position: relative !important;
}

.modal-body {
  overflow-y: auto !important;
  max-height: 70vh;
}

.resizable {
  min-height: auto;
  // background-color: red !important;
  resize: vertical;
  // overflow: auto;
  overflow: hidden;
}

.form-wrapper {
  display: flex;
  gap: 10px;
  // align-items: center;
}

.align-center {
  align-items: center;
}

.form-field {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.note {
  font-size: 12px;
}

.w-auto {
  width: auto !important;
}
.w-10 {
  width: 10% !important;
}
.w-25 {
  width: 25% !important;
}
.w-30 {
  width: 30% !important;
}
.w-33 {
  width: 33% !important;
}
.w-40 {
  width: 40% !important;
}
.w-50 {
  width: 50% !important;
}
.w-60 {
  width: 60% !important;
}
.w-75 {
  width: 75% !important;
}
.w-90 {
  width: 90% !important;
}
.w-100 {
  width: 100% !important;
}

.form-field label {
  margin-bottom: 4px;
  font-weight: bold;
}

.form-field input[type="text"],
.form-field input[type="number"],
.form-field input[type="checkbox"],
.form-field input[type="password"],
.form-field textarea,
.form-field select {
  padding: 6px;
  border: 1px solid #a7a7a7 !important;
  border-radius: 4px;
}

.form-field input:disabled {
  background-color: #dbdbdb;
}

.form-field select:disabled {
  background-color: #dbdbdb;
}

.form-field input[type="submit"]:hover,
.form-field button:hover {
  opacity: 0.9;
}

.selected-interface-list {
  display: flex;
  width: 100%;
  gap: 10px;
}

.selected-interface-wrap {
  min-height: 100px;
  max-height: 250px;
  border: 1px solid #ccc;
  overflow-y: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.increadeDecrease {
  border: none;
  background-color: transparent;
  color: black;
  cursor: pointer;
  align-items: center;
}

.success {
  color: #198754 !important;
}
.warning {
  color: #ffc107 !important;
}
.gray {
  color: #6c757d !important;
}
.danger {
  color: #dc3545 !important;
}
