.errorPageContainer {
    padding: 15px;
    -webkit-box-shadow: 2px 4px 10px 1px  var(--shadow_1);
    box-shadow: 2px 4px 10px 1px  var(--shadow_2);
    margin: 10px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
